<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="card-title">Server {{ host }}</h5>
            </div>
            <div class="col-sm-6 text-right">
                <h6 class="card-title">Status <span class="badge badge-success">Active</span></h6>
            </div>
        </div>
        <p class="card-text">27 Sotwares installed</p>
        <p class="card-text">20 Sotwares running</p>
        <div class="text-right"><a href="#" class="btn btn-primary">View Detail</a></div>
    </div>
</div>